 <ul id="link_list">

        <!-- 
        <a href="index.html"><li>Inicio</li></a>
        <a href="sections/ciudadania-contra-cambio-climatico.html"><li>Ciudadanía en contra del Cambio Climático</li></a>
        <a href="sections/cuestion-de-ciencia.html"><li>Cuestión de Ciencia</li></a>
        <a href="sections/tu-pais-ante-el-cambio-climatico.html"><li>Tu país ante el Cambio Climático</li></a>
        <a href="sections/piensa-global.html"><li>¡Piensa global y actúa local ahora!</li></a> --> 
      </ul>
























  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2 main-logo">
        <img src="assets/images/logo.png" class="img-responsive">
      </div>
    </div>

    <div class="row home-slider">
      <img src="assets/images/lake.png" class="img-responsive">

      <img src="assets/images/desert.png" class="img-responsive">

      <img src="assets/images/environment.png" class="img-responsive">
    </div>

    <div class="row over-slider">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <div class="col-md-5 lightbulb info-box">
          <img src="assets/images/lightbulb.png" class="img-responsive lightbulb-img">
          <h1>
            Ciudadanía contra el Cambio Climático
          </h1>

          <div class="col-xs-offset-1 col-xs-10 boxed-text">
            <p>
              Día tras día el Cambio Climático es una realidad que nos arropa, ahora en más debemos nosotros los ciudadanos de empoderarnos con el propósito de conocer cómo mitigarlo y conocer las situaciones que lo provocan y sus consecuencias. Continua acá para poder conocer más e involucrarte sobre este tópico.
            </p>

            <a href="sections/ciudadania-contra-cambio-climatico.html" class="plus-circle">
              <span class="fa-stack fa-lg" style="margin-bottom: 10px;">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
              </span>
            </a>
          </div>
        </div>

        <div class="col-md-offset-2 col-md-5 info-box flask">
          <img src="assets/images/flask.png" class="img-responsive flask-img">
          <h1>
            Cuestión de Ciencia
          </h1>

          <div class="col-xs-offset-1 col-xs-10 boxed-text">
            <p>
              Se ha mencionado bastante que es un proceso normal y común que sucede en el planeta. Pero sucede que no es un mito, el cambio climático y la influencia que ha tenido por parte de los seres humanos este fenómeno no es algo ficticio de ninguna manera. Pasa a ver las evidencias y pruebas documentadas de porqué la industrialización es la responsable. Ven a ver como el consenso de opiniones científicas señalan que las actividades humanas influyen agraviando el calentamiento global principalmente.
            </p>

            <a href="sections/cuestion-de-ciencia.html" class="plus-circle">
              <span class="fa-stack fa-lg" style="margin-bottom: 10px;">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10">
          <img src="assets/images/tu_pais.jpg" class="img-responsive global-warming-map">

          <a href="sections/tu-pais-ante-el-cambio-climatico.html" class="plus-circle climate-change-link">
            <span class="fa-stack fa-lg" style="margin-bottom: 10px;">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
          </a>
      </div>
    </div>

    <div class="row global-think text-center">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10">
        <h2>¡Piensa global y actúa local ahora!</h2>
        <br>
        <br>
      </div>

      <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        <div class="col-md-4 col-lg-4 gears bottom-margin">
          <img src="assets/images/gears.png" class="img-responsive gears-img">
          <h4>Herramientas de cómo mitigarlo</h4>
          <img src="assets/images/box_separator.png" class="img-responsive">

          <div class="col-xs-offset-1 col-xs-10 boxed-text">
            <p>
              Acá encontrarás diferentes herramientas que te instruirán en cómo mitigar el Cambio Climático en el día a día.
            </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 calculator bottom-margin">
          <img src="assets/images/calculator.png" class="img-responsive calculator-img">
          <h4>Calculadora de Huella de Carbono</h4>
          <img src="assets/images/box_separator.png" class="img-responsive">

          <div class="col-xs-offset-1 col-xs-10 boxed-text">
            <p>
              Instrumento que te permite medir un estimado de cuánto es el impacto que conlleva los gases de efecto invernadero que son emitidos directa o indirectamente. ¡Intenta calcular la tuya!
            </p>
          </div>

          <a href="#" class="plus-circle" data-toggle="modal" data-target="#calculatorModal">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
          </a>
        </div>

        <div class="col-md-4 col-lg-4 hands bottom-margin">
          <img src="assets/images/handworld.png" class="img-responsive hands-img">
          <h4>Aprende y Comprométete</h4>
          <img src="assets/images/box_separator.png" class="img-responsive">
          
          <div class="col-xs-offset-1 col-xs-10 boxed-text">
            <p>
              Esta es nuestra sección de enlaces y recursos externos, donde encontrarás una gran cantidad de información exterior a la web, con varios bancos de información que te serán muy útiles en tu aprendizaje.
            </p>
          </div>

          <a href="#" class="plus-circle" data-toggle="modal" data-target="#linksModal">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

 












 

footer {
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

.list {
  display: list-item;
}

/*.blue-circle {
  background-color: #95B2DD;
  border-radius: 50%;
}*/

.main-logo {
  z-index: 1;
  margin-bottom: -250px;
}

.info-box {
  margin-bottom: 40px;
  text-align: center;
  margin-top: 45px;
  color: white;
  min-height: 625px !important;
}

.bottom-margin {
  min-height: 475px !important;
  height: 500px !important;
  margin-bottom: 45px;
  padding-bottom: 20px;
}

.info-box h1 {
  text-transform: uppercase;
  border-bottom: 3px solid white;
  font-size: 22px;
}

.lightbulb {
  background-color: #FCB13E;
}

.lightbulb-img {
  margin-top: -20px;
}

.flask {
  background-color: #496712;
}

.flask-img {
  margin-top: -20px;
}

.global-warming-map {
  margin-bottom: 25px;
}

.over-slider {
  margin-top: -100px;
}

.global-think {
  background-color: #4c76b5;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 20px;
}

.global-think h1, h2, h3, h4 {
  text-transform: uppercase;
}

.blue-right-divider {
  border-right: 2px solid #1789FC;
}

.gears {
  background-color: #79AA2C;
  padding-top: 1px;
}

.gears-img {
  margin-top: -25px;
  margin-bottom: 10px;
}

.calculator {
  background-color: #FCB13E;
  padding-top: 1px;
}

.calculator-img {
  margin-top: -25px;
  margin-bottom: 10px;
}

.hands {
  background-color: #60460F;
  padding-top: 1px;
}

.hands-img {
  margin-top: -25px;
  margin-bottom: 10px;
}

.plus-circle {
  color: #FFFFFF;
}

.plus-circle:hover {
  color: #FFFFFF;
  opacity: 0.85;
}

.spacer {
  margin-top: 50px !important;
}

.section-box img {
  float: left;
}

.section-box h1, h2, h3 {
  text-transform: uppercase !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.section-box a {
  right: 5px;
  bottom: 5px;
  position: absolute;
}

.climate-change-link {
  position: absolute;
  margin-top: -75px;
  margin-left: 60px;
}

.links a {
  color: #000000 !important;
}

.boxed-text {
  margin-top: 15px;
}

.logos {
  display: inline-block;
  text-align: center;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 991px) {
  #toggle h2 {
    margin-left: 20px !important;
  }

  .social_sidebar{
    top: 15% !important;
  }

  .links {
    margin-bottom: 35px;
    display: none
  }
  
  .blue-right-divider {
    border: none !important;
  }

  .section-box {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .lg-screen-friendly {
    height: 500px !important;
  }
}

.sections-banner {
  padding-top: 40px;
}

/* Social sidebar */

.social_sidebar{
  position:fixed;
  top: 8%;
  right: 0;
  text-align:center;
}

.social_sidebar > div{
  width:50px;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.facebook {
  background-color: #3c5a9a;
}

.twitter {
  background: #00acec;
}

.mail {
  background: #a9abaa;
}

.plus {
  background: red;
}

.social_sidebar > div > a{
  color:white;  
  font-size:24pt;
}

.slick-dots {
  bottom: 50px !important;
}

.slick-dots li button::before {
  color: #FFFFFF !important;
}
