@media screen and (max-width: 980px){


.boton_menu{
  width: 6%; 
}


.buscador_responsive{
  display: block;
}

.desktop_buscador{
  display: none;
}

.searchButton{
  margin-top: -27px;
  margin-right: -22px;
}





/*SLIDERSHOW*/
.contenido_hover{
  position: absolute;
  bottom: 20%; left: 15%;
  width: 55%;
}

.contenido_hover h1{
  padding: 1%;
  text-align: left;
  font-size: 35px;
}


.conten_titulo{
    margin-bottom: 12%;
}




.contenedor_opciones{ 
  display: block;
}


.contenedor_opciones div{
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10%;
  padding: 0 3%;
  box-sizing: border-box;
}

.contenedor_menu_opciones{
  width: 60%;
}


.contenedor_opciones_titulo{
  display: block;
  height: auto;
  width: 100%;
  margin: auto;
  margin-top: -6%;

}

.contenedor_titulo_parte{
  height: 370px;
  margin:  auto;
  margin-bottom: 10%;
}


/* Imagen fija */
.contenedor_img_grande{
  width: 100%;
  height: auto;
  margin: 3% auto;
  position: relative: 
}

.contenedor_img_grande img{
  width: 100%;
}





/* PANEL 3 OPCIONES */
.contenedor_3opciones{
  width: 100%;
  height: auto;
  padding: 5% 0;
}

.contenedor_3opciones h4{
  font-size: 2.3em;
  color: white;
  padding-bottom: 9%;
}


.contenedor_cuadros_principal{
  width: 80%;
  height: auto;
  margin: auto;
}


.contenedor_cuadros_principal div{
  padding-bottom: 2%;
}




.cuadro_3 .icono_titulos_1{
  width: 30%!important;
  margin: auto;
  padding: 3%;
  margin-top: -5%;
}

.cuadro_3 h3{
  color: white;
}



.opcion_links h6{
  font-size: 1.4em;
}





.panel_2{
  display: block;
  width: 80%;
  box-sizing: border-box;
  margin: auto;
}

.enlaces{
  width: 80%;
  box-sizing: border-box;
  display: block;
  padding: 3%;
  margin: auto;
}

.enlaces h5{
  font-size: 25px;
  text-align: center;
  margin: auto; 
  padding: 4%;

}

.enlaces h6{
  font-size: 18px;
  margin: auto;
  text-align: center; 
  padding: 1%;

}



.logos_patrocinadores{
  display: flex;
  width: 90%;
  box-sizing: border-box;
  padding: 2% 0;
  margin: auto;
}


.logo_patro{
  width: 100%;
  padding: 5%;
  display: inline-block;
}

.logo_patro img{
  width: 100%;
}


.img_up{
  margin-top: 110px;
  height: auto;
}

.info_img{
  width: 80%;
  position: absolute;
  bottom: 0%;
}

.info_img h1{
  font-size: 2em!important;
}



.menu_down .searchButton {
  top: 27px;right: 22px;
}



.header_secundario img{
  width: 60%;
}

.contenedor_info{
  width: 56%;
  padding: 8% 0;
}

.img_2{
  width: 70%;
}

.texto{
  width: 80%;
  margin: auto;

}

.texto p{
  text-align: justify;
  width: 100%!important;
  padding-bottom: 3%;
}


.texto h4{
  text-align: center;
  padding-bottom: 2%;

}


.redes{
  width: 100%;
  padding-left: 120px;
}

.redes p{
  text-align: center;
}



.contenedor_2{
  width: 80%;
  display: block;
  padding: 3% 0;
}

.contenedor_2 .imagen{
  width: 70%!important;
  margin: auto;
}

.contenedor_2 .imagen img{
  width: 100%;
}

.contenedor_2 .texto{
  width: 100%!important;

}

.contenedor_2 .texto p{
  font-size: 14px!important;

}




.share-btn {
  height: 50px !important;
  color: #FFFFFF !important;
  line-height: 50px;
}

.share-btn i {
  margin-left: 5px;
}

.share-btn span {
  margin-left: 10px;
  font-size: 16px;
}

.social-share {
  width: 80%;
  margin: auto!important;
  margin-bottom: 25px;
  padding: 3% 0;
}









/* CIERRE @MEDIA	*/
}


























@media screen and (max-width: 680px){

.boton_menu{
  width: 10%;
}

.logo{
  width: 45%;
  padding: 1%;
}

.contenedor_menu_opciones{
	width: 80%;
}


.searchButton{
  margin-top: -17px;
  margin-right: -16px;
}




/*SLIDERSHOW*/
.contenido_hover{
  padding: 0px; margin: 0px;
  position: relative;
  bottom: 0%; left: 0%; top: 0; right: 0;
  width: 100%;
  margin: auto;
  padding-bottom: 10%;
}

.marco_slider img{
  height: 70vh;
  overflow: hidden;
}

.contenido_hover h1{
  padding: 1%;
  text-align: center;
  font-size: 25px;
  padding: 3% 3%;
  margin-top: 0;
}



.boton_header{
  width: 100%;
  margin-top: -2%;
  margin-left: 0%;
  padding: 4% 0;
}

.boton{
	width: 60%;
	margin: auto;
}

.boton h6{
  font-size: 18px;
}


.conten_titulo{
    margin-bottom: 15%;
}


.imagen_titulo{
  width: 90px!important;
  margin: -10% auto 0 auto!important;
}

.img_titulo_2{
  width: 110px!important;
}











/* Imagen fija */

.contenedor_img_grande img{
  width: 130%;
}







.enlaces h5{
  font-size: 25px;
  text-align: center;
  margin: auto; 
  padding: 10% 0 5% 0;

}

.enlaces h6{
  font-size: 18px;
  margin: auto;
  text-align: center; 
  padding: 5% 0;

}



.logos_patrocinadores{
  display: block;
  width: 80%;
  box-sizing: border-box;
  padding: 2% 0;
  margin: 10% auto 5% auto;
}


.logo_patro{
  width: 100%;
  padding: 19%;
  display: inline-block;
}

.logo_patro img{
  width: 100%;
}





.header_secundario{
	margin-top: 0px;
}


.header_secundario img{
  width: 80%;
}

.contenedor_info{
  width: 80%;
  padding: 8% 0;
}

.img_2{
  width: 100%;
}

.texto{
  width: 80%;
  margin: auto;

}

.texto p{
  text-align: justify;
  width: 100%;
  padding-bottom: 3%;
}


.texto h4{
  text-align: center;
  padding-bottom: 2%;

}


.redes{
  width: 100%;
  padding-left: 120px;
}

.redes p{
  text-align: center;
}


.contenedor_2{
  width: 80%;
  display: block;
  padding: 3% 0;
}

.contenedor_2 .imagen{
  width: 90%!important;
  margin: auto;
}

.contenedor_2 .imagen img{
  width: 100%!important;
}

.contenedor_2 .texto{
  width: 100%!important;

}


.opcion_links{
  width: 80%;
}


.opcion_links h6{
  font-size: 1.1em;
}



.info_img{
  width: 80%;
}

.info_img h1{
  font-size: 1.4em;
}





.RDW_img{
  width: 100%!important;
}

.texto_rdw{
  padding-top: 120px!important;
}


.menu_down .searchButton {
  top: 17px;right: 14px;
}




.share-btn {
  display: block!important;
}

.share-btn i {
  margin-left: 5px;
}

.share-btn span {
  margin-left: 10px;
  font-size: 16px;
}

.social-share {
  width: 100%!important;
  margin: auto!important;
  margin-left: -45px!important;
  margin-bottom: 25px;
  padding: 3% 0;
  display: block!important;
}




/* CIERRE @MEDIA	*/
}