@font-face {
  font-family: VarelaRound;
  src: url('fonts/VarelaRound-Regular.ttf') format('truetype');
}

html, body {
  width:100%;
  overflow-x:hidden; 
}

a {
  color: #000;
}

p {
  font-family: VarelaRound !important;
  font-size: 18px;
  text-align: justify !important;
}

h1, h2, h3, h4 {
  text-align: center;
  text-transform: none !important;
  font-weight: bold;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

.list {
  display: list-item;
}

/*.blue-circle {
  background-color: #95B2DD;
  border-radius: 50%;
}*/

.main-logo {
  z-index: 1;
  margin-bottom: -250px;
}

.info-box {
  margin-bottom: 40px;
  text-align: center;
  margin-top: 45px;
  color: white;
  min-height: 625px !important;
}

.bottom-margin {
  min-height: 475px !important;
  height: 500px !important;
  margin-bottom: 45px;
  padding-bottom: 20px;
}

.info-box h1 {
  text-transform: uppercase;
  border-bottom: 3px solid white;
  font-size: 22px;
}

.lightbulb {
  background-color: #FCB13E;
}

.lightbulb-img {
  margin-top: -20px;
}

.flask {
  background-color: #496712;
}

.flask-img {
  margin-top: -20px;
}

.global-warming-map {
  margin-bottom: 25px;
}

.over-slider {
  margin-top: -100px;
}

.global-think {
  background-color: #4c76b5;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 20px;
}

.global-think h1, h2, h3, h4 {
  text-transform: uppercase;
}

.blue-right-divider {
  border-right: 2px solid #1789FC;
}

.gears {
  background-color: #79AA2C;
  padding-top: 1px;
}

.gears-img {
  margin-top: -25px;
  margin-bottom: 10px;
}

.calculator {
  background-color: #FCB13E;
  padding-top: 1px;
}

.calculator-img {
  margin-top: -25px;
  margin-bottom: 10px;
}

.hands {
  background-color: #60460F;
  padding-top: 1px;
}

.hands-img {
  margin-top: -25px;
  margin-bottom: 10px;
}

.plus-circle {
  color: #FFFFFF;
}

.plus-circle:hover {
  color: #FFFFFF;
  opacity: 0.85;
}

.spacer {
  margin-top: 50px !important;
}

.section-box img {
  float: left;
}

.section-box h1, h2, h3 {
  text-transform: uppercase !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.section-box a {
  right: 5px;
  bottom: 5px;
  position: absolute;
}

.climate-change-link {
  position: absolute;
  margin-top: -75px;
  margin-left: 60px;
}

.links a {
  color: #000000 !important;
}

.boxed-text {
  margin-top: 15px;
}

.logos {
  display: inline-block;
  text-align: center;
}






















/* Medium devices (desktops, 992px and up) */
@media (max-width: 991px) {
  #toggle h2 {
    margin-left: 20px !important;
  }

  .social_sidebar{
    top: 15% !important;
  }

  .links {
    margin-bottom: 35px;

  }
  
  .blue-right-divider {
    border: none !important;
  }

  .section-box {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .lg-screen-friendly {
    height: 500px !important;
  }
}

.sections-banner {
  padding-top: 40px;
}

/* Social sidebar */

.social_sidebar{
  position:fixed;
  top: 8%;
  right: 0;
  text-align:center;
}

.social_sidebar > div{
  width:50px;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.facebook {
  background-color: #3c5a9a;
}

.twitter {
  background: #00acec;
}

.mail {
  background: #a9abaa;
}

.plus {
  background: red;
}

.social_sidebar > div > a{
  color:white;  
  font-size:24pt;
}

.slick-dots {
  bottom: 50px !important;
}

.slick-dots li button::before {
  color: #FFFFFF !important;
}


/**/

#sidemenu {
  position: absolute;
  display: block;
  height: 100%;
  width: 160px;
  top: 0px;
  left: -160px;
  background-color: #1789FC;
  z-index: 999;
}

#links {
  position: relative;
  float: left;
}

#link_list {
  list-style-type: none;
  width: 100%;
  padding: 0 !important;
}

#link_list a {
  color: #FFFFFF;
}

#link_list li {
  display: block;
  width: 100%;
  padding: 6px;
}

#toggle {
  background-color: transparent;
  color: #fff;
  width: 50px;
  height: 44px;
  float: right;
  position: relative;
  top: 20px;
  right: -50px;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
}

#toggle h2 {
  margin-top: 5px;
  margin-left: 70px;
  font-size: 22px !important;
  text-transform: uppercase !important;
}

.terms {
  text-align: center !important;
  background-color: #00AEEF;
  color: #FFFFFF !important;
  height: 40px;
  margin-top: 20px;
  display: inline-block;
  line-height: 40px;
}

.terms a {
  color: #FFFFFF !important;
}

/*     Search bar      */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 1px solid #FFFFFF;
  padding: 5px;
  height: 40px;
  outline: none;
  color: #FFFFFF;
  background: transparent;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFFFFF;
    font-size: 20px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   font-size: 20px;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFFFFF;
   font-size: 20px;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFFFFF;
   font-size: 20px;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 20%;
  position: absolute;
  top: 10%;
  right: 20px;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.share-btn {
  height: 50px !important;
  color: #FFFFFF !important;
  line-height: 50px;
}

.share-btn i {
  margin-left: 5px;
}

.share-btn span {
  margin-left: 10px;
  font-size: 16px;
}

.social-share {
  margin-bottom: 25px;
}
