 @font-face {
  font-family: VarelaRound; 
  src: url('fonts/VarelaRound-Regular.ttf') format('truetype');
} 

html, body { 
  width:100%; 
  overflow-x:hidden; 
}

a {  
  color: #000;
}
 
p {
  font-family: VarelaRound !important;
  font-size: 18px;
  text-align: justify !important;
}

h1, h2, h3, h4 {
  text-align: center;
  text-transform: none !important;
  font-weight: bold;
}

h2{
  text-align: center;
  font-size: 2.3em;
}


.color_principal{
  background-color: #2196f3;
}





.division{
  width: 50%;
  height: 100vh;
  position: fixed;
  background-color: #AFAFAF;
  top: 0; left: 0;
  z-index: 4211232313;
  opacity: 0.3;

}






/*MENU*/
/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/

#sidemenu {
  position: absolute;
  display: block;
  height: 100%;
  width: 30%;
  top: 0px;
  left: -160px;
  background-color: #1789FC;
  z-index: 999;
  box-sizing: border-box;
}

#links {
  position: relative;
  float: left;
}



.menu_contenedor_opciones{
  width: 90%;
  height: auto;
}





#link_list {
  list-style-type: none;
  width: 100%;
  padding: 0 !important;
}

#link_list a {
  color: #FFFFFF;
}

#link_list li {
  display: block;
  width: 100%;
  padding: 6px;
}








/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/















.terms {
  text-align: center !important;
  background-color: #00AEEF;
  color: #FFFFFF !important;
  height: 40px;
  margin-top: 20px;
  display: inline-block;
  line-height: 40px;
}

.terms a {
  color: #FFFFFF !important;
}




/*     Search bar      */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family: 'Open Sans', sans-serif;
}


/*Resize the wrap to see the search bar change!*/

.share-btn {
  height: 50px !important;
  color: #FFFFFF !important;
  line-height: 50px;
}

.share-btn i {
  margin-left: 5px;
}

.share-btn span {
  margin-left: 10px;
  font-size: 16px;
}

.social-share {
  margin-bottom: 25px;
  margin-left: -20px;
}


































/* ------------------------------------------------ */
/* MENU */
/* ------------------------------------------------ */

.menu{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
  background-color: #1789FC;
}



.logo_header{
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.logo{
  width: 240px;
/*  padding: 1%;*/
  margin: auto;
}

.logo img{
  width: 75%;
}



.contenedor_buscador{
  width: 20%;
  position: absolute;
  top: 40%; right: 140px;
  z-index: 1000;
}

.buscador{
  width: 100%;
  position: relative;
}

.buscador input{
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  border:  1px solid white;
  padding: 5px;
  box-sizing: border-box;
  color: white;
  position: relative;
}

.buscador .searchButton{
  position: absolute;
  top: 0; right: 0;
  padding: 9px 12px;
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
}







.boton_menu{
  width: 5%;
  padding: 1%;
  top: 30%; left: 10%;
  cursor: pointer;
  position: absolute;
  z-index: 100000;
}


.boton_menu img{
  width: 100%;
}

.contenedor_menu_opciones{
  width: 30%;
  height: 100vh;
  position: fixed;
  top: 0; left: -100%;
  background-color: #1789FC;
  box-sizing: border-box;
  display: block;
  transition: 0.8s;
  z-index: 100000000;
}

.contenedor_menu_opciones_on{
  left: 0;
}

.menu_up{
  display: flex;
  width: 100%;
  height: auto;
  background-color: #78a92f;
  box-sizing: border-box;
  padding: 4%;
}

.menu_up h6{
  font-size: 40px;
  color: white;
}

.close{
  position: absolute;
  top: 26px; right: 30px;
  width: 40px; height: 40px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}

.close img{
  width: 100%;
}


.menu_down{
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.menu_down div{
  width: 100%;
}

.menu_down div:hover{
 /* background-color: #4a6719; */
}

.menu_down div h6{
  color: white;
  font-size: 18px;
}

.buscador_responsive{
  position: relative;
  width: 100%;
  height: auto;
  padding: 4% 5%;
  box-sizing: border-box;
  display: none;
}

.buscador_responsive .contenedor_buscador{
  position: relative;
  top: 0; right: 0;
}


.menu_text{
  width: 100%;
  padding: 1% 5%;
  box-sizing: border-box;
  border-top: 1px solid white;
}

.menu_text:hover{
 background-color: #4a6719;
}




.contenedor_vacio{
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.desktop{
  display: none;
}









/* Social sidebar */

.social_sidebar{
  position:fixed;
  top: 40%;
  right: 0;
  text-align:center;
}

.social_sidebar > div{
  width:50px;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.facebook {
  background-color: #3c5a9a;
}

.twitter {
  background: #00acec;
}

.mail {
  background: #a9abaa;
}

.plus {
  background: red;
}

.social_sidebar > div > a{
  color:white;  
  font-size:24pt;
}

.slick-dots {
  bottom: 50px !important;
}

.slick-dots li button::before {
  color: #FFFFFF !important;
}

.texto_autor{
  position: absolute;
  bottom: 10%; right: -2%;
  transform: rotateZ(-90deg);
  
}

.nasa{
  right: 2%;
}

.texto_autor h6{
  transform: rotate('180deg');
  color: white;
  font-size: 10px;
}

/* ------------------------------------------------ */
/* CUERPO DEL INDEX */
/* ------------------------------------------------ */
.cuerpo{
  width: 100%;
  height: auto;
  margin-top: 30px;
}


/* SLIDERSHOW */
.header-slider{
  width: 100%;
  height: 100%;
  position: resize: 
}

.marco_slider{
  width: 100%;
  position: relative;

}

.marco_slider img{
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.contenido_hover{
  position: absolute;
  bottom: 25%; left: 10%;
  width: 55%;
}

.contenido_hover h1{
  background-color: #78a92f;
  padding: 1%;
  text-align: left;
  color: white;
  font-size: 45px;
}

.bg_blue{
  background-color: #1789FC!important;
}

.bg_yellow{
   background-color: #fcb040!important;
}

.boton_header{
  width: 35%;
  margin-top: 2%;
}



.boton{
  width: 100%;
  height: auto;
  background-color: white;
  border: 2px solid #4a6719;
  border-radius: 14px;
}

.boton h6{
  padding: 1%;
  text-align: center;
  color: #78a92f;
  font-size: 18px;
}


.arrows{
  position: absolute;
  color: black;
  width: 100%;
  
  top: 50%;
  left: 50%;
  z-index: 100000;
  display: none;
  width: 20%;
}


.prev{
  left: 5%;
}

.next{
  right: 5%;
}




/* ESTILOS CONTENEDOR_OPCIONES */
.contenedor_cuerpo_titulos{
  width: 100%; height: auto;
  position: relative;
  margin: 0 auto;
  padding: 0 0 5% 0;
}

.contenedor_opciones_titulo{
  display: flex;
  width: 65%; height: 370px;
  margin: auto;
  box-sizing: border-box;
}


.contenedor_titulo_parte{
  width: 80%;
  margin: -9% 1% 0 1%;
  padding: 2%;
  box-sizing: border-box;
  position: relative;

}

.contenedor_titulo_parte h2, .contenedor_titulo_parte h3{
  color: white;
}

.contenedor_titulo_parte .linea{
  width: 80%; height: 3px;
  margin: 2% auto;
  background-color: white;
}

.contenedor_titulo_parte h3{
  width: 80%;
  margin:  auto;
  margin-top: 3%;
  font-size: 19px;
}


.imagen_titulo{
  width: 120px!important;
  margin: -10% auto 0 auto!important;
}

.imagen_titulo img{
  width: 100%;
}



.img_titulo_2{
  width: 140px!important;
 padding-bottom: 25px;
}

.espacio-linea{
    padding-bottom: 32px;
}



.contenedor_boton_mas{
  position: absolute;
  width: 100%;
  bottom: 30px;
}

.contenedor_boton_mas .boton_mas{
  margin-left: -30px;
}




.contenedor_opciones{
  width: 100%;
  height: auto;
  display: flex;
}

.contenedor_opciones div{
  width: 46%;
  height: auto;
  margin: 0 auto;
  margin-top: -1%;
  margin-bottom: 3%;
  padding: 0 3%;
  box-sizing: border-box;
}


.icono_titulos{
  width: 30%;
  margin: auto;
}




.contenedor_opciones img{
  width: 100%;
  padding: 0%;
  margin: auto;
  margin-top: -18%;

}


.conteneodor_imagen_opciones{
  width: 20%;
  margin: auto;

}

.conteneodor_imagen_opciones img{
  width: 100%;
}


.contenedor_opciones div h2{
  margin: auto;
  color: white;
  padding-top: 5%;
  margin: 0;
}

.contenedor_opciones div .linea{
  width: 90%;
  height: 4px;
  margin: 4% auto;
  background-color: white;
}

.contenedor_opciones div h3{
  text-align: center;
  font-size: 1.4em;
  color: white;
}


.contenedor_opciones div .boton_mas{
  margin: auto;
  width: 70%;
  height: auto;
  padding: 5% 0 9% 0;
  color: white;
}

.boton_mas span{ 
  width: 100%;
    color: white;
}

.cuestion-espacio{
    padding-bottom: 500px;
}



/* CUERPO TITULOS */
/*
.contenedor_cuerpo_titulos{
  width: 100%;
  height: auto;
      display: block;
    margin: auto;  
  background-color: white;
}
*/

.cuerpo_titulo{
  width: 80%;
  height: auto;
  margin: -5% auto 0 auto;
  position: relative;
  display: flex;
}

.cuadro_1{
  background-color: #fcb040;
}

.cuadro_2{
  background-color: #4a6719;
}

.cuerpo_titulo div .icono_titulos{
  margin: auto;
}

.cuadro_1{
  background-color: #fcb040;
}

.cuadro_2{
  background-color: #4a6719;
}


.icono_titulos_1{
   width: 160px!important;

}


.icono_titulos_2{
  width: 220px!important;
}


.icon_titulo_2{
    width: 80%;
    padding: 1%;
    margin-top: -29%;
}




/* Imagen fija */
.contenedor_img_grande{
  width: 80%;
  height: auto;
  margin: 2% auto;
  position: relative: 

}

.contenedor_img_grande img{
  width: 100%;
}






/* PANEL 3 OPCIONES */
.contenedor_3opciones{
  width: 100%;
  height: auto;
  background-color: #4f7ec8;
  padding: 5% 0;
}

.contenedor_3opciones h4{
  font-size: 2.5em;
  color: white;
  padding-bottom: 2%;
  width: 80%;
  margin: auto;
}

.conten_titulo{
    margin-bottom: 5%;
}



.contenedor_3opciones h2{
  font-size: 1.8em;
}


.contenedor_cuadros_principal{
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 3%;
}

.cuadro_3 .icono_titulos_1{
  width: 75%;
  margin: auto;
  margin-top: -1%;
  padding: 3%;
}

.cuadro_3 h3{
  color: white;
}

.color_1{
  background-color: #78a92f;
}

.color_2{
  background-color: #fcb040;
}

.color_3{
  background-color: #604716;
}

/*

.linea-vertical{
    border-left: solid #1789FC;
    padding-top: 50px;
    height: 50px;
}
*/


.outer {
  width: 5px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.inner {
  position: absolute;
  width:100%;
  height: 40%;
  background: black;
  top: 30%;
  box-shadow: 0px 0px 30px 20px black;
}

footer{
  width: 100%;
  height: auto;
  background-color: white;
  padding: 0; margin: 0;


}

.panel_2{
  display: flex;
  width: 80%;
  box-sizing: border-box;
  margin: auto;

}

.enlaces{
  width: 40%;
  box-sizing: border-box;
  display: block;
  padding: 3%;
}

.enlaces h5{
  font-size: 25px;
  text-align: left: 
  color: black;
}

.enlaces h6{
  font-size: 14px;
  text-align: left: 
  color: black;
}



.logos_patrocinadores{
  display: flex;
  width: 63%;
  margin-top: 30px;
  box-sizing: border-box;
  padding: 2% 0;
}


.logo_patro{
  width: 26%;
  padding: 2%;
}

.logo_patro img{
  width: 100%;
}

.credenciales{
  width: 100%;
  margin: 0; padding-bottom: 0;
  padding: 0; margin: 0;
}

.credenciales h6{
  text-align: center;
  color: white;
  background-color: #1789FC;
  margin: 0;
  padding:  1% 0;
}











.img_up{
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: relative;
}

.img_up img{
  width: 100%;
}


.info_img{
  position: absolute;
  width: 34%;
  bottom: 10%; left: 10%;
}

.info_img h1{
  color: white;
  background-color: #fcb040;
  text-align: left;
  padding: 1%;
}



.header_secundario{
  width: 100%;
  height: auto;
  padding-top: 160px;
}

.header_secundario img{
  width: 40%;
  margin: auto;
}

.contenedor_info{
  width: 35%;
  height: auto;
  margin: auto;
  padding: 6% 0;
}

.contenedor_info img{
  width: 100%;
  margin: auto;
}

.img_2{
  width: 45%;
}


.padding{
  padding-top: 10%;
}

.texto{
  width: 80%;
  margin: auto;

}

.texto p{
  text-align: justify;
  width: 100%;
  font-size: 16px;
}


.texto h4{
  text-align: center;
  margin-top: 4%;
  font-size: 25px;

}


.redes{
  width: 100%;
  padding-left: 120px;
}

.redes p{
  text-align: center;
}

.contenedor_2{
  width: 80%;
  margin: auto;
  display: flex;
  padding: 1% 0;
}

.contenedor_2 .imagen{
  width: 50%;
  margin: 0 -8% 0 auto;
}

.contenedor_2 .imagen img{
  width: 80%;
  margin: auto;
}

.contenedor_2 .texto{
  width: 50%;
  box-sizing: border-box;
  padding: 4% 0 0 0;
}

.contenedor_2 .texto p{
  font-size: 15px!important;
  margin-top: -2%;
}

.contenedor_2 .texto h4{
  font-size: 26px!important;
  margin-top: 2%;
}


.texto_rdw{
  padding-top: 180px!important;
  padding-bottom: 2%;
}


.contenedor_opcion_links{
  position: fixed;
  width: 100%; height: 100vh;
  top: 0; left: 0;
  cursor: pointer;
  overflow: hidden;
  z-index: 100000000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}


.opcion_links{
  position: absolute;
  width: 60%; height: auto;
  top: 50%; left: 50%;
  transform:  translate(-50%,-50%);
  background-color: white;
  padding: 4%;
  box-sizing: border-box;
  
}



.opcion_links h6{
  text-align: center;
  color: black;
  font-size: 1.8em;
  padding: 1% 0;
}

.open_links{
  cursor: pointer;
}


.contenedor_calculadora{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 150px;

}


.contenedor_calculadora iframe{
  width: 100%;
  height: 800px;
  margin:auto;
  padding: 4%;
  
}


.titulos_mas_grande{
  font-size: 27px;
}


.redes_compartir{
  display: none,
}

.animacion{
  transform: scale(1,1);
  transition: 0.5s;
}

.animacion:hover{
  transform: scale(1.2);
}


.cuestion_img_1{
  width: 80%;
}

.cuestion_img_2{
  width: 90%;
}

.cuestion_img_3{
  width: 45%;
  margin: auto;
}

.texto_m_1{
  margin-top: -2%; width: 50%;
}



.piensa_img_0{
  width: 41%;
}


.piensa_img_1{
  width: 48%!important;
}

.piensa_img_2{
  width: 50%!important;
  padding-bottom: 5%;
}

.piensa_img_3{
  width: 44%!important;
}